@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import '../index.scss';


.btn{
    border: solid var(--opposite-color) 1px;
    color: var(--opposite-color);
    box-shadow: none;
}

.disabled{
    border: solid var(--secondary-text-color) 1px;
    color: var(--secondary-text-color);
    cursor: not-allowed;
    box-shadow: none;
}

.btn:hover{
    box-shadow: var(--button-box-shadow);
    color: var(--primary-color);
    border: solid var(--primary-color) 1px;
    transition: 0.3s ease;
}

.active-btn {
    box-shadow: var(--button-box-shadow);
    border: solid var(--primary-color) 1px;
    color: var(--opposite-color);
}

.content{
    margin: 0.5rem;
}

