@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import '../index.scss';


.btn{
    border: solid var(--opposite-color) 1px;
    color: var(--opposite-color);
}

.disabled{
    border: solid var(--secondary-text-color) 1px;
    color: var(--secondary-text-color);
    cursor: not-allowed;
    box-shadow: none;
}

.btn:hover{
    box-shadow: var(--button-box-shadow);
    color: var(--primary-color);
    border: solid var(--primary-color) 1px;
    transition: 0.3s ease;
}

.secondary-link{
    border: solid var(--primary-color) 1px;
    color: var(--primary-color);
    box-shadow: var(--button-box-shadow);
}

.secondary-link:hover{
    background-color: var(--active-background-bg);
    color: #FFF;
    transition: 0.5s ease;
}

.active-btn {
    box-shadow: var(--button-box-shadow);
    border: solid var(--primary-color) 1px;
    color: #FFF;
    background: var(--active-background-bg);
}

.active-btn:hover{
    box-shadow: var(--button-box-shadow);
    border: solid var(--primary-color) 1px;
    color: #FFF;
    background: var(--active-background-bg);
}

.content{
    margin: 0.5rem;
}

